.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.25rem
}
.not-found__title {
    font-weight: 100
}
.not-found__subtitle {
    font-weight: 600
}
.not-found__text {
    line-height: 1.3
}
.not-found__link {
    font-weight: 600
}
.not-found__link a {
    text-decoration: underline;
    transition: color .3s ease-in-out
}
@media (min-width:29.99875em) {
    .not-found__text {
        margin-bottom: 1.25rem
    }
}
@media (min-width:96em) {
    .not-found {
        padding-top: 5rem
    }
    .not-found {
        padding-bottom: 7.5rem
    }
    .not-found {
        font-size: 1rem
    }
    .not-found__title {
        font-size: 15.625rem
    }
    .not-found__subtitle {
        font-size: 1.25rem
    }
}
@media (max-width:22.5em) {
    .not-found {
        padding-top: 2.5rem
    }
    .not-found {
        padding-bottom: 3.75rem
    }
    .not-found {
        font-size: .875rem
    }
    .not-found__title {
        font-size: 8.75rem
    }
    .not-found__subtitle {
        font-size: 1.125rem
    }
}
@media (min-width:22.5em)and (max-width:96em) {
    .not-found {
        padding-top: clamp(2.5rem ,1.7346938776rem + 3.4013605442vw ,5rem)
    }
    .not-found {
        padding-bottom: clamp(3.75rem ,2.6020408163rem + 5.1020408163vw ,7.5rem)
    }
    .not-found {
        font-size: clamp(.875rem ,.8367346939rem + .1700680272vw ,1rem)
    }
    .not-found__title {
        font-size: clamp(8.75rem ,6.6454081633rem + 9.3537414966vw ,15.625rem)
    }
    .not-found__subtitle {
        font-size: clamp(1.125rem ,1.0867346939rem + .1700680272vw ,1.25rem)
    }
}
@media (any-hover:hover) {
    .not-found__link a:hover {
        color: var(--bg-accent)
    }
}
