.form {
    display: grid;
    gap: 1.25rem
}
.partner-popup__info .form {
    gap: 1.875rem
}
.form.form_item {
    gap: 2.5rem
}
.form__item {
    display: grid;
    gap: 1.25rem
}
.form__item strong {
    line-height: 1.2;
    display: block;
    font-weight: 600
}
.form__item strong sup {
    color: var(--red)
}
.form__row_authorization {
    display: none;
    gap: .625rem
}
.form__row_authorization._active {
    display: flex
}
.partner-form__info .form__row {
    display: grid;
    gap: 1.25rem
}
.partner-popup__info .form__row {
    display: grid;
    gap: 1.25rem
}
.form__row-title {
    font-weight: 600;
    margin-bottom: 1.25rem
}
.partner-popup__info .form__row-title {
    margin-bottom: 0
}
.form__row.form__row_span {
    display: block
}
.form__row sup {
    color: var(--red);
    font-size: .875rem;
    translate: 0 -.3125rem
}
.form__input {
    border: 2px solid var(--border)
}
.form_checkout .form__input,
.form_item .form__input {
    max-width: 21.875rem
}
.form__input._form-error+.form__error {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block
}
.partner-form__info .form__input {
    background-color: var(--white)
}
.form__checkboxes {
    display: grid;
    align-items: start;
    gap: .625rem 1.25rem
}
.form__label {
    font-weight: 500;
    margin-bottom: 1.25rem
}
.form__error {
    display: none;
    font-weight: 500;
    color: var(--red);
    font-size: .75rem;
    margin-top: .25rem;
    opacity: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    transition: all .3s ease
}
.form__error._form-error {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block
}
.form__link {
    text-decoration: underline;
    transition: color .3s ease-in-out
}
.form__text {
    font-weight: 500;
    line-height: 1.3
}
.form__text p+p {
    margin-top: 1rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
    -webkit-appearance: none;
    appearance: none
}
.input {
    border-radius: 6.25rem;
    width: 100%;
    display: block;
    padding: 0 20px;
    caret-color: inherit;
    font-weight: 500;
    height: 2.5rem;
    font-size: .875rem;
    transition: border-color .3s ease-in-out
}
.input._form-error {
    border-color: var(--red)
}
.input::-webkit-input-placeholder {
    color: #d8d8d8
}
.input:-ms-input-placeholder {
    color: #d8d8d8
}
.input::-ms-input-placeholder {
    color: #d8d8d8
}
.input::placeholder {
    color: #d8d8d8
}
.calc__form .input::-webkit-input-placeholder,
.cart__checkout .input::-webkit-input-placeholder {
    color: var(--primary)
}
.calc__form .input:-ms-input-placeholder,
.cart__checkout .input:-ms-input-placeholder {
    color: var(--primary)
}
.calc__form .input::-ms-input-placeholder,
.cart__checkout .input::-ms-input-placeholder {
    color: var(--primary)
}
.calc__form .input::placeholder,
.cart__checkout .input::placeholder {
    color: var(--primary)
}
.partner-form__info .input::-webkit-input-placeholder,
.partner-popup__info .input::-webkit-input-placeholder {
    color: var(--primary)
}
.partner-form__info .input:-ms-input-placeholder,
.partner-popup__info .input:-ms-input-placeholder {
    color: var(--primary)
}
.partner-form__info .input::-ms-input-placeholder,
.partner-popup__info .input::-ms-input-placeholder {
    color: var(--primary)
}
.partner-form__info .input::placeholder,
.partner-popup__info .input::placeholder {
    color: var(--primary)
}
.search-box .input {
    padding: 0;
    border-radius: 0
}
.input:focus {
    outline: 0
}
.form__row_authorization .input {
    text-align: center
}
.middle-header__right .input {
    height: 2.25rem
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    -ms-transition: opacity .3s;
    transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
    opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
    opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
    opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
    opacity: 0
}
textarea.input {
    resize: none;
    padding: 0 0
}
.search-box {
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6.25rem;
    border: 2px solid var(--primary)
}
.middle-header__right .search-box__input {
    pointer-events: none
}
.search-box__btn svg {
    width: 1.125rem;
    height: 1.125rem
}
.middle-header__right .search-box__btn {
    pointer-events: none
}
@media (min-width:29.99875em) {
    .calc__form .form__button {
        min-width: 21.875rem
    }
}
@media (min-width:47.99875em) {
    .partner-form__info .form__row {
        grid-template-columns: repeat(2,1fr)
    }
    .form__checkboxes {
        grid-template-columns: repeat(2,1fr)
    }
    .partner-popup__info .form__checkboxes {
        grid-template-columns: 1fr
    }
}
@media (max-width:47.99875em) {
    .form.form_item {
        gap: 1.25rem
    }
    .form__label {
        margin-bottom: .9375rem
    }
    .form__error {
        font-size: .625rem
    }
    .form__text p+p {
        margin-top: .75rem
    }
    .middle-header__right .search-box {
        width: 100%
    }
}
@media (max-width:29.99875em) {
    .form {
        gap: 1rem
    }
    .partner-popup__info .form {
        gap: 1.25rem
    }
    .calc__wrapper .form__item {
        gap: .625rem
    }
    .partner-form__info .form__row {
        gap: .9375rem
    }
    .partner-popup__info .form__row {
        gap: .9375rem
    }
    .form__text {
        font-size: .75rem
    }
    .input {
        font-size: .75rem
    }
}
@media (any-hover:hover) {
    .form__link:hover {
        color: var(--bg-accent)
    }
}
