.hero {
    margin-bottom: 2.5rem
}
.hero__slider {
    position: relative;
    padding-bottom: 1.5625rem
}
.slide-hero {
    position: relative
}
.slide-hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.slide-hero__img img {
    -o-object-fit: cover;
    object-fit: cover
}
.slide-hero__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center
}
.slide-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}
.slide-hero__title {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .875rem;
    margin-bottom: 1.125rem;
    color: var(--white)
}
.slide-hero__title span {
    padding: .9375rem 1.625rem;
    border-radius: 6.25rem;
    font-weight: 600;
    background-color: var(--primary)
}
.slide-hero__title sup {
    font-weight: 800
}
.slide-hero__text {
    font-weight: 500;
    margin-bottom: 1.75rem;
    color: var(--white)
}
.slide-hero__btn {
    margin-bottom: 1.25rem
}
.slide-hero__sale {
    color: var(--white);
    padding: .625rem 1.75rem;
    border-radius: 6.25rem;
    background: rgba(38,38,38,.3);
    display: inline-flex;
    justify-content: center;
    min-height: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    align-items: center
}
.category-main {
    padding-bottom: 2.5rem
}
.slide-category {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: .5rem;
    position: relative
}
.slide-category__img {
    margin-bottom: .5rem;
    overflow: hidden;
    border-radius: .625rem
}
.slide-category__img img {
    transition: scale .3s ease-in-out
}
.slide-category__title {
    line-height: 1.2;
    font-weight: 600
}
.about__numbers {
    max-width: 51.875rem
}
.numbers {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem
}
.numbers__item {
    display: flex;
    align-items: center;
    gap: 1.25rem
}
.numbers__item-num {
    display: block;
    font-weight: 700;
    color: var(--bg-accent);
    line-height: 130%
}
.numbers__item-text {
    font-weight: 600;
    line-height: 130%;
    font-size: 1rem
}
@media (min-width:29.99875em) {
    .slide-hero__btn {
        min-width: 10.625rem
    }
}
@media (min-width:96em) {
    .slide-hero {
        min-height: 27.6875rem
    }
    .slide-hero__container {
        min-height: 27.6875rem
    }
    .slide-hero__title {
        font-size: 6rem
    }
    .slide-hero__title span {
        font-size: 2.5rem
    }
    .slide-hero__title sup {
        font-size: 1rem
    }
    .slide-hero__text {
        font-size: 1.8125rem
    }
    .slide-hero__sale {
        font-size: .875rem
    }
    .slide-category__title {
        font-size: 1rem
    }
    .numbers__item-num {
        font-size: 4rem
    }
}
@media (max-width:61.99875em) {
    .slide-hero__title {
        margin-bottom: .625rem
    }
}
@media (max-width:47.99875em) {
    .hero {
        margin-bottom: 1.25rem
    }
    .slide-hero::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1
    }
    @supports (backdrop-filter:blur(10px)) {
        .slide-hero::before {
            background-color: rgba(0,0,0,.5);
            backdrop-filter: blur(10px)
        }
    }
    .slide-hero__title span {
        padding: .625rem 1.125rem
    }
    .slide-hero__text {
        margin-bottom: 1.4375rem
    }
    .category-main {
        padding-bottom: 1.25rem
    }
    .category-main__wrapper {
        margin-bottom: 1.25rem
    }
    .numbers {
        flex-wrap: wrap
    }
    .numbers__item {
        flex: 1 1 100%
    }
}
@media (max-width:29.99875em) {
    .slide-hero__content {
        flex: 1 1 100%
    }
    .slide-hero__sale {
        min-width: 100%
    }
}
@media (max-width:22.5em) {
    .slide-hero {
        min-height: 21.5rem
    }
    .slide-hero__container {
        min-height: 21.5rem
    }
    .slide-hero__title {
        font-size: 3.25rem
    }
    .slide-hero__title span {
        font-size: 1.25rem
    }
    .slide-hero__title sup {
        font-size: .75rem
    }
    .slide-hero__text {
        font-size: 1.125rem
    }
    .slide-hero__sale {
        font-size: .75rem
    }
    .slide-category__title {
        font-size: .875rem
    }
    .numbers__item-num {
        font-size: 2.25rem
    }
}
@media (min-width:22.5em)and (max-width:96em) {
    .slide-hero {
        min-height: clamp(21.5rem ,19.6058673469rem + 8.4183673469vw ,27.6875rem)
    }
    .slide-hero__container {
        min-height: clamp(21.5rem ,19.6058673469rem + 8.4183673469vw ,27.6875rem)
    }
    .slide-hero__title {
        font-size: clamp(3.25rem ,2.4081632653rem + 3.7414965986vw ,6rem)
    }
    .slide-hero__title span {
        font-size: clamp(1.25rem ,.8673469388rem + 1.7006802721vw ,2.5rem)
    }
    .slide-hero__title sup {
        font-size: clamp(.75rem ,.6734693878rem + .3401360544vw ,1rem)
    }
    .slide-hero__text {
        font-size: clamp(1.125rem ,.9145408163rem + .9353741497vw ,1.8125rem)
    }
    .slide-hero__sale {
        font-size: clamp(.75rem ,.7117346939rem + .1700680272vw ,.875rem)
    }
    .slide-category__title {
        font-size: clamp(.875rem ,.8367346939rem + .1700680272vw ,1rem)
    }
    .numbers__item-num {
        font-size: clamp(2.25rem ,1.7142857143rem + 2.380952381vw ,4rem)
    }
}
@media (any-hover:hover) {
    .slide-category:hover .slide-category__img img {
        scale: 1.1
    }
}
