.address-shop__top {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    margin-bottom: 2.5rem
}
.address-shop__current {
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: .625rem
}
.address-shop__current svg {
    color: var(--bg-accent);
    flex: 0 0 .75rem;
    width: .75rem;
    height: 1rem
}
.address-shop__link {
    font-weight: 500;
    transition: color .3s ease-in-out
}
.address-shop__inner {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem
}
.address-shop__content {
    flex: 1 1 auto
}
.address-shop__map {
    position: relative;
    flex: 0 0 55%;
    border-radius: .625rem;
    overflow: hidden
}
.address-shop_fw .address-shop__map {
    flex: 0 0 66%
}
#map {
    width: 100%;
    height: 26.75rem
}
.address-shop_fw #map {
    height: 39.75rem
}
.content-address__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem
}
.content-address__item:first-child .content-address__btn {
    border-top: 1px solid var(--border)
}
.content-address__btn {
    width: 100%;
    padding: .5rem 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    transition: color .3s ease-in-out
}
.content-address__btn::after {
    content: "";
    width: .75rem;
    height: .5rem;
    background: url(../img/icons/dropdown.svg) no-repeat center/contain;
    transition: rotate .3s ease-in-out
}
.content-address__btn._spoiler-active:after {
    rotate: -180deg
}
.content-address__item-body {
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid var(--border)
}
.content-address__item-link {
    display: flex;
    font-weight: 500;
    align-items: center;
    gap: .625rem
}
.content-address__item-link img {
    width: 1.125rem
}
.content-address__item-link+.content-address__item-link {
    margin-top: .625rem
}
.map-pop {
    min-width: 16.25rem;
    padding: 1.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--white);
    border-radius: .625rem;
    display: grid;
    justify-items: start;
    gap: .5rem;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.1)
}
.map-pop::before {
    content: "";
    position: absolute;
    top: calc(100% - 1px);
    left: 1.25rem;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: .9375rem;
    border-left-width: .9375rem;
    border-top: .9375rem solid #fff
}
.map-pop__label {
    display: inline-flex;
    margin-bottom: .3125rem;
    padding: .5rem 1rem;
    border-radius: 6.25rem;
    font-size: .75rem;
    background-color: var(--bg-accent)
}
.map-pop__city {
    display: flex;
    font-weight: 500;
    gap: .625rem;
    align-items: center
}
.map-pop__city img {
    width: 1.125rem
}
.map-pop__text {
    line-height: 1.2;
    font-size: .75rem
}
.map-pop__tel {
    padding: .3125rem 0;
    font-weight: 500;
    transition: color .3s ease-in-out
}
.map-pop__markers {
    display: flex;
    gap: .625rem
}
.map-pop__markers svg {
    flex: 0 0 1.5625rem;
    width: 1.5625rem;
    height: 1.25rem
}
.map-pop__footer {
    line-height: 1.2;
    font-size: .75rem
}
@media (max-width:96em) {
    .address-shop_fw #map {
        height: 26.75rem
    }
}
@media (max-width:74.99875em) {
    .address-shop__inner {
        flex-wrap: wrap
    }
    .address-shop__map {
        flex: 1 1 100%
    }
    .address-shop_fw .address-shop__map {
        flex: 1 1 100%
    }
}
@media (max-width:47.99875em) {
    #map {
        height: 23.75rem
    }
    .address-shop_fw #map {
        height: 23.75rem
    }
    .content-address__title {
        font-size: 1.125rem
    }
    .content-address__btn {
        font-size: .875rem;
        padding: .75rem 0
    }
    .content-address__item-body {
        line-height: 1.2;
        font-size: .75rem
    }
}
@media (any-hover:hover) {
    .address-shop__link:hover {
        color: var(--bg-accent);
        text-decoration: underline
    }
    .content-address__btn:hover {
        color: var(--bg-accent)
    }
    .content-address__item-link:hover {
        text-decoration: underline
    }
    .map-pop__tel:hover {
        color: var(--bg-accent)
    }
}
