.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.options.options_style {
    flex-direction: row;
    gap: .625rem;
    overflow-x: auto;
    padding-bottom: .3125rem
}
.collection-calc__slide .options {
    display: block;
    height: 100%
}
.options__item {
    position: relative;
    cursor: pointer
}
.collection-calc__slide .options__item {
    height: 100%
}
.options__item:not(:last-child) {
    margin-bottom: .9375rem
}
.options_style .options__item:not(:last-child) {
    margin-bottom: 0
}
.options__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute
}
.options__input:checked+.options__label>.options__label-color {
    border-color: var(--primary)
}
.options_style .options__input:checked+.options__label {
    background-color: var(--white);
    border-color: var(--primary)
}
.options_style .options__input:checked+.options__label .options__text {
    color: var(--primary)
}
.options__input:checked+.options__label:after {
    scale: 1
}
.options__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px
}
.options__label-color {
    flex: 0 0 1.25rem;
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .125rem;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border-color .3s ease-in-out
}
.options__label-color img {
    border-radius: .125rem
}
.options__label:before {
    content: "";
    align-self: flex-start;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    border-radius: 50%;
    border: 2px solid #a7a9ac
}
.options_filter .options__label:before {
    display: none
}
.collection-calc__slide .options__label:before {
    position: absolute;
    top: .625rem;
    right: .625rem;
    background-color: var(--white);
    border-radius: .1875rem
}
.options__label:after {
    content: "";
    scale: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #77243a;
    position: absolute;
    left: 5px;
    top: 50%;
    translate: 0 -50%;
    transition: scale .3s ease 0s
}
.options_filter .options__label:after {
    border-radius: initial;
    width: 12px;
    height: 8px;
    background: url(../img/icons/check.svg) no-repeat center/contain
}
.collection-calc__slide .options__label:after {
    border-radius: initial;
    width: 12px;
    height: 9px;
    top: 20px;
    right: 14px;
    z-index: 2;
    left: auto;
    background: url(../img/icons/check.svg) no-repeat center/contain
}
.options_style .options__label {
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--secondary);
    min-height: 2.5rem;
    padding: .625rem 1rem;
    border-radius: 6.25rem;
    font-weight: 500;
    border: 2px solid var(--bg-primary);
    transition: all .3s ease-in-out
}
.options_style .options__label:after,
.options_style .options__label:before {
    display: none
}
.collection-calc__slide .options__label {
    height: 100%;
    gap: 1.25rem;
    display: flex;
    flex-direction: column
}
.options__text {
    font-weight: 500;
    line-height: 1.2
}
.options_style .options__text {
    font-size: .875rem;
    font-weight: 500;
    color: var(--secondary);
    transition: color .3s ease-in-out
}
.options__img img {
    border-radius: .625rem
}
.options__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-between
}
.options__text-title {
    font-weight: 500;
    line-height: 1.2;
    display: block
}
.options__text-price {
    font-weight: 600;
    display: block;
    font-size: 1rem;
    display: block
}
.options__text-price:not(:last-child) {
    margin-bottom: .3125rem
}
.options__text-old {
    font-weight: 500;
    color: var(--secondary)
}
@media (min-width:96em) {
    .options_style .options__label {
        font-size: .875rem
    }
}
@media (max-width:47.99875em) {
    .collection-calc__slide .options__label {
        gap: .625rem
    }
    .options_style .options__text {
        font-size: .75rem
    }
}
@media (max-width:29.99875em) {
    .options.options_style {
        -webkit-overflow-scrolling: touch
    }
}
@media (max-width:22.5em) {
    .options_style .options__label {
        font-size: .75rem
    }
}
@media (min-width:22.5em)and (max-width:96em) {
    .options_style .options__label {
        font-size: clamp(.75rem ,.7117346939rem + .1700680272vw ,.875rem)
    }
}
@media (any-hover:hover) {
    .options_style .options__label:hover {
        background-color: var(--white);
        border-color: var(--primary);
        color: var(--primary)
    }
}
