.seo-block__content,
.seo-block__intro {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4
}
.seo-block__content p+p,
.seo-block__intro p+p {
    margin-top: 1rem
}
.seo-block__content strong,
.seo-block__intro strong {
    font-weight: 600
}
.seo-block__intro {
    margin-bottom: 1rem
}
.seo-block__more {
    font-weight: 600;
    text-decoration: underline;
    transition: margin-top .3s ease-in-out,color .3s ease-in-out
}
._showmore-active .seo-block__more {
    margin-top: 1rem
}
@media (max-width:47.99875em) {
    .seo-block__content p+p,
    .seo-block__intro p+p {
        margin-top: .75rem
    }
    .seo-block__content,
    .seo-block__intro {
        font-size: .875rem;
        line-height: 1.5
    }
    .seo-block__intro {
        margin-bottom: .75rem
    }
}
@media (any-hover:hover) {
    .seo-block__more:hover {
        color: var(--bg-accent)
    }
}
